.DS_Store
Thumbs.db
*.swp
*.swo

.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.netbeans/

vendor/

*.zip
*.tar.gz

*.log

node_modules/
package-lock.json
yarn.lock

composer.lock

.env
.env.local
.env.*.local

.phpunit.result.cache

/languages/
